<h1>About</h1>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				This project was started as an idea by Siebe Sysmans and Kristof Rasschaert to build an Android app. The last few days before the start of the FIFA World Cup I, <a href="http://www.cautreels.be">Maarten Cautreels</a> decided that an Android app would make it impossible for a lot of people to join game and started working on this web version. It's far from finished but since the FIFA World Cup starts tomorrow I had no choice but to release it.
			</p>
			<p>
				If you find any error, feel free to report them using Bitbucket Issues: <a href="https://bitbucket.org/MCautreels/scoracle-web/issues?status=new&status=open" target="_blank">Scoracle-Web</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>
				The project is completely Open Source and can be found on Bitbucket: <a href="https://bitbucket.org/MCautreels/scoracle-web/overview">Scoracle-Web on Bitbucket</a>. Feel free to contribute!
			</p>
		</div>
	</div>
</div>