<div class="row leagues-title">
    <div class="col-md-12">
    	<h1>My Leagues</h1>
    </div>
</div>
<div class="row" ng-repeat="league in leagues">
    <div class="col-md-12">
        <a href="./#leagues/{{league.objectId}}">{{league.name}}</a>
    </div>
</div>
<div class="row leagues-title">
    <div class="col-md-12">
    	<h1>My Invites</h1>
    </div>
</div>
<div class="row" ng-repeat="invite in invites">
    <div class="col-md-12">
        {{invite.name}}
        &nbsp;
        <a href="./#/leagues" ng-click="acceptInvite(invite.objectId)">Accept</a>
    </div>
</div>