<h1>{{league.name}}</h1>
<p>
	<p class="text-danger" ng-show="message">{{message}}</p>
	<form class="form-inline" role="form" ng-show="isManager()">
		<div class="form-group">
		    <label for="username" class="sr-only">Add new member</label>
		    <input type="username" class="form-control" id="username" ng-model="username" placeholder="Enter username/email">
		</div>
		<button type="submit" ng-click="addUser()" class="btn btn-default">Add Member</button>
	</form>
</p>
<ul>
	<table class="table">
		<tr>
			<th>Username</th>
			<th>Score</th>
			<th ng-show="isManager()"></th>
		</tr>
		<tr ng-repeat="member in members">
			<td>{{member.username}}</td>
			<td>0</td>
			<td ng-show="isManager()">
				<button type="button" class="btn btn-link">
					<span class="glyphicon glyphicon-remove" ng-click="removeMember(member.objectId)"></span>
				</button>
			</td>
		</tr>
	</table>
</ul>