<div class="jumbotron">
  <div class="container">
    <h1>Welcome</h1>
    <p>
      While this application is certainly not finished yet I wanted to release it anyway. It's fairly simple. You register, login and fill in your predictions for the FIFA World Cup matches. Join leagues to compete with your friends. 
    </p>
  </div>
</div>

<div class="container">
<!-- Example row of columns -->
<div class="row">
  <div class="col-md-6">
    <form role="form">
      <p class="text-danger" ng-show="message">{{message}} ({{technicalMessage}})</p>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" ng-model="username" class="form-control" id="username" placeholder="Enter username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" ng-model="password" class="form-control" id="password" placeholder="Password">
      </div>
      <button class="btn btn-default" ng-click="login()">Login</button>
      <button class="btn btn-default"><a href="#/home/register">Register</a></button>
    </form>
 </div>
  <div class="col-md-6">
    <h2>Score</h2>
    <p>
      You'll get a score based on the predictions you've made for a certain game. 
      <ul>
        <li>If you were able to guess correctly who was going to win or predicted a draw you'll recieve <strong>1 point</strong></li>
        <li>If you predicted the correct amount of goals (on each side) you'll receive an additional <strong>2 points</strong></li>
      </ul>
    </p>
  </div>
</div>


