<div class="predictions container">
    <div ng-repeat="match in matches.results" class="single-date">
        <div class="row match-date">
            <dvi class="col-md-12">
                {{match.dateTime.iso | date : 'EEE dd.MM.yyyy'}}
            </dvi>
        </div>
        <!-- Start of Single Match -->
        <div class="single-match">
            <div class="row group-info">
                <div class="col-md-12">
                    {{match.type}}
                </div>
            </div>
            <div class="row match-info">
                <div class="col-md-5 home-team">
                    <img class="flag-icon" src="./images/flags/{{match.homeTeamCode | lowercase}}.png" />
                    <span>{{match.homeTeamCode}}</span>
                </div>
                <div class="col-md-2 match-time">
                    <div class="circle" ng-click="loadPrediction(match.objectId, match.dateTime.iso)">{{match.dateTime.iso | date : 'HH:mm'}}</div>
                </div>
                <div class="col-md-5 away-team">
                    <span>{{match.awayTeamCode}}</span>
                    <img class="flag-icon" src="./images/flags/{{match.awayTeamCode | lowercase}}.png" />
                </div>
            </div>
            <!-- Start of Prediction -->
            <div class="row match-prediction" ng-show="isActivePrediction" ng-controller="PredictionCtrl">
                <div class="col-md-5 home-team-prediction">
                    <div class="circle" ng-click="addHome()">+</div>
                    <div class="home-score">{{matchPrediction.homePrediction}}</div>
                    <div class="circle" ng-click="subtractHome()">-</div>
                </div>
                <div class="col-md-2 prediction-save">
                    <a class="btn" ng-click="save()">Save</a>
                </div>
                <div class="col-md-5 away-team-prediction">
                    <div class="circle" ng-click="addAway()">-</div>
                    <div class="away-score">{{matchPrediction.awayPrediction}}</div>
                    <div class="circle" ng-click="subtractAway()">+</div>
                </div>
            </div>
            <!-- End of Prediction -->
        </div>
        <!-- End of Single Match -->
    </div>
</div>