<form role="form">
  <p class="text-danger" ng-show="message">{{message}} ({{technicalMessage}})</p>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" ng-model="username" class="form-control" id="username" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" ng-model="email" class="form-control" id="email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" ng-model="password" class="form-control" id="password" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="password2">Repeat Password</label>
    <input type="password" ng-model="password2" class="form-control" id="password2" placeholder="Password">
  </div>
  <button class="btn btn-default" ng-click="register()">Register</button>
</form>
