/* Space out content a bit */
body {
  font-family: "Roboto";
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

.container.predictions {
  background-color: #1E1F23;
}

.container-header {
  background-color: white;
  padding-top: 10px;
}

.match-info, .group-info {
    color: white;
    font-size: 24px;
    padding: 10px 0;
}

.group-info {
  font-size: 18px;
  text-align: center;
}

.home-team {
  text-align: right;
  height: 80px;
  padding: 20px 0;
}

.circle {
  width: 100%;
  border: 1px solid white;
}

.circle:hover {
  background-color: white;
  color: #1E1F23;
  cursor: pointer;
}

.away-team {
  text-align: left;
  height: 80px;
  padding: 20px 0;
}

.match-time {
    text-align: center;
}

.match-time .circle {
    max-width: 90px;
}

.match-date {
    color: #1E1F23;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    padding: 5px 0;
    text-align: center;
}

.match-prediction {
  height: 60px;
  padding: 5px 0;
  color: white;
}

.prediction-save {
  text-align: center;
  vertical-align: middle;
}

.match-prediction .circle {
  width: 50px;
  display: inline;
  float: left;
  text-align: center;
  vertical-align: middle;
}

.match-prediction .home-score, .match-prediction .away-score {
  width: 50px;
  height: 50px;
  display: inline;
  float: left;
  text-align: center;
  padding: 6px 0;
  font-size: 24px;
}

.home-team-prediction .circle, .home-team-prediction .home-score {
  float: right;
}

@media (max-width: 992px) {
  .match-time .circle {
    margin-left: auto;
    margin-right: auto;
  }

  .home-team, .away-team {
    text-align: center;
  }

  .match-prediction {
    height: 250px;
  }

  .home-team-prediction, .away-team-prediction {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
  }
}